spring:
  profiles:
    active: dev # 기본 환경 선택
  application:
    name: DemoEngineController
server:
  port: 7002
  servlet:
    context-path: /mdp/Enginecontrol/v1/face

---
spring:
  profiles: dev
  task :
    fixedDelay: 10

server:
  port: 7005

runconfig:
  orgdir: /home/mdp/deepmeta_data/org
  savedir: /home/mdp/deepmeta_data/deepmeta_data

---
spring:
  profiles: local
  task :
    fixedDelay: 10

server:
  port: 7005

runconfig:
  orgdir: /Users/lamhirh/Documents/workspace/MDP_DEV/sample_data/org
  savedir: /Users/lamhirh/Documents/workspace/MDP_DEV/sample_data/deepmeta_data